@media (max-width: 782px) {
    .footer{
        position:relative;
        top:340px;
        text-align: center;
    }
}
@media (max-width: 782px) {
    .row{
        
        margin-top: 10px; 
        margin-left: 0; 
        margin-right: 0; 
    }
    
}
@media (max-width: 768px) {
    .card1{
        width:"100%";
    }
}
@media (max-width: 768px) {
    .card2{
        width:"100%";
    }
}